<div>
  <mat-table class="articles-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="sourceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Source name </th>
      <td mat-cell *matCellDef="let article"> {{article.sourceName}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
      <td mat-cell *matCellDef="let article"> {{article.author}}% </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let article"> {{article.title}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let article"> {{article.description}} </td>
    </ng-container>

    <ng-container matColumnDef="articleUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Article URL </th>
      <td mat-cell *matCellDef="let article"> {{article.articleUrl}} </td>
    </ng-container>

    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Image URL </th>
      <td mat-cell *matCellDef="let article"> {{article.imageUrl}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let article"> {{article.date}} </td>
    </ng-container>

  </mat-table>

</div>